body {
    margin: 0px;
    background-color: white;
    font-family: Arial;
}

.header {
  margin-top: 0px;
  max-height: 50%;
}

p {
  font-family: Arial;
  size: 14px;
  color: #000;
  text-align: left;  
}

.p2 { 
  font-family: Arial;
  size: 14px;
  color: #fff;
  text-align: left; 
}

.p3 {
  font-family: Arial;
  size: 14px;
  color: #000;
  text-align: center; 
}

.p4 {
  font-family: Arial;
  color: #5f6e7a;
  text-align: center;
}

h1 {
  font-size: 32px; /* 200% */
  text-align: left;
}

h2 {
  font-size: 28px; /* 175% */
  text-align: center;
}

h3 {
  font-size: 24px; /* 150% */
  padding-left: 15px;
  text-align: left;
}

h4 {
  font-size: 20px; /* 125.0% */
}

h5 {
  font-size: 18px; /* 112.5% */
}

h6 {
  font-size: 16px; /* 100% */
}

img {
  max-width: 100%;
  height: auto;
}

.img-loggo {
  max-height: 70px;
  height: auto;
  float: center;
}

a {
  text-decoration: none;
  color: #000;
}

.seperator {
  width: 100%;
  height: 2px;
  background-color: #5f6e7a;
}

.btn {
  height: 50px;
  width: 200px;
  background-color: #5f6e7a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  align-items: center;
  align-content: center;
}

.btn :hover {
  color: #aaaeb5;
}

* { /* justerbara boxar för att få sidan responsiv */
    box-sizing: border-box;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-1-2 {
    width: 14.28%;
    height: 70px;
    padding: 5px;
    align-items: center;
    align-content: center;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
    text-align: center;
  }

  .col-4 {
    width: 33.33%;
    text-align: center;
  }

  .col-5 {
    width: 41.66%;
    height: 100vh;    
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .col-6 {
    width: 50%;
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .col-6-blue {
    width: 50%;
    height: 100vh;
    background-color: #aaaeb5;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .col-6-btn {
    width: 50%;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .col-6-FAQ {
    width: 50%;
    height: auto;
  }

  .col-6-FAQ-blue {
    width: 50%;
    height: auto;
    background-color: #aaaeb5;
  }

  .col-7 {
    width: 58.33%;
    height: 100vh;
    padding: 100px;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 { width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
    text-align: center;
  }

  .col-12-button {
    width: 100%;
    height: 100vh;
    background-image: url(gallery/main/gallery1.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
    align-content: center;
  }

  .button {
    height: 60px;
    width: 150px;
    background-color: #5f6e7a;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center;
  }

  .col-12-blue {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
    color: #fff;
    background-color: #aaaeb5;
    margin-top: -5px;
  }

  .col-12-white {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    margin-top: -5px;
  }

  .col-12-menu { /* specialbox för menyn som ska sitta fäst i toppen av sidan */
    width: 100%;
    background-color: #fff;
    opacity: 60%;
    text-align: center;
    position: fixed; /* Fixed position at top of site */
    top: 0; /* distance to top of site */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    z-index: 0;
  }

  .col-12-footer { /* specialbox för footer som ska ha olika färger från resterande boxar */
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #aaaeb5;
  }

  .col-12-info { /* specialbox för menyn som ska sitta fäst i toppen av sidan */
    width: 100%;
    height: 100vh;
    background-image: url(gallery/main/bg_about.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  [class*="col-"] {
    float: left;
    padding: 5px;
    border: 0px solid red;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

    @media only screen and (max-width: 900px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 50%;
    }
  }

  @media only screen and (max-width: 900px) {
    /* For mobile phones: footer */
    [class*="col-12-footer"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 900px) {
    /* For mobile phones: meny */
    [class*="col-12-menu"] {
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

